html,
body {
    height: 100%;
    background-color: #222;
}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family:Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
}
.clear {clear:both;}
h1,h2,h3,h4,h5,h6{font-weight:500;}
h1{margin:50px 0 20px;font-size:30px}
h2{margin:35px 0 20px;font-size:26px}
h3{margin:20px 0;font-size:21px}
h4{font-size:18px}
h5,h6{font-size:16px}

.theme-black {color:#CCCCCC;background:#2D2D2D;}
.theme-black .preview-panel a, .theme-black .preview-panel a:visited {color:#99CC99;text-decoration:none;}

.with-shadow {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 150px rgba(0, 0, 0, .5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.nest-container {
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* Pull out the header and footer */
.masthead {
    position: fixed;
    z-index: 1000;
    top: 0;
    width:100%;
    text-align: center;
}

.mastfoot {
    position: fixed;
    bottom: 0;
    width:100%;
    text-align: center;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand small {
    margin-left: 10px;
    color: #AAA;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
    font-weight: normal;
    color: #fff; /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }

    .masthead-nav {
        float: right;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .nest-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 1280px) {
    .masthead,
    .mastfoot,
    .nest-container {
        width: 1280px;
    }
}