/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 150px rgba(0,0,0,.5);
}
.nest-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-brand small {
    margin-left:10px;
    color:#AAA;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 12px;
    font-weight: normal;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}

.nest-content {
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.nest-content .nest-slider {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
}

.nest-content .nest-step {
    display: table;
    width:100%;
    height:100%;
    min-width: 100%;
}

.nest-content .nest-step .nest-step1-container {
    display: table-cell;
    margin-left: auto;
    margin-right:auto;
    vertical-align: middle;
}

h1.nest-title-head {
    margin-top:10px;
    margin-bottom: 10px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .nest-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 1280px) {
    .masthead,
    .mastfoot,
    .nest-container {
        width: 1280px;
    }
}