.markdown-content {
    font-size:14px;
    line-height: 27px;
}

.markdown-content code {
    color: #AAA;
    background-color: #222;
    padding:5px;
}

.markdown-content hr {
    border-top: 1px solid #333;
}

.markdown-content a {
    font-weight: bold;
}
